<header>
	<a href="/"><div id="logo" class="unifrakturcook-bold">Machiavelli</div></a>
</header>

<%= turbo_frame_tag "turbomain" do %>
<div data-controller="display" data-display-cselected-class="card--selected" data-display-sselected-class="spot--selected"id="display">
	<div id="player-names">
		<form action="/edit-names">
			<input name="fplayer" type="text"  value="<%= @player1 %>" /> vs
			<input name="splayer" type="text"  value="<%= @player2 %>" />
			<input type="submit" value="Rename" />
		</form>
		</div>
	<h3> Move of player: <%= @current_player %>
	<div  id="table">
		<% @table.each_with_index do |comb, comb_idx| %>
			<div class="comb">
				<% comb.each_with_index do |card, card_idx| %>
					<span 
					data-display-target="spot"
					data-action="click->display#selectSpot" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-spotno-param="<%= card_idx %>"
					data-combno="<%= comb_idx %>"
					data-spotno="<%= card_idx %>"
					class="spot"
					>
						&bull;
					</span>
				
					<span 
					data-display-target="tcard"
					data-action="click->display#selectTableCard" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-cardno-param="<%= card_idx %>"
					data-combno="<%= comb_idx %>"
					data-cardno="<%= card_idx %>"
					data-rep="<%= card %>"
					class="card"
					>
						<%= card[..-2] %><b><%= card[-1] %></b>
					</span>
				<% end %>
				
				
				<!-- we add one after all cards -->
				<span 
					data-display-target="spot"
					data-action="click->display#selectSpot" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-spotno-param="<%= comb.size %>"
					data-combno="<%= comb_idx %>"
					data-spotno="<%= comb.size %>"
					class="spot"
					>
						&bull;
				</span>
				
			</div>
		<% end %>
		
	</div>
	<div></div><br/>
	
	<div id="deck">
		<% @deck.each_with_index do |card, card_idx| %>
				<div 
					data-display-target="dcard"
					data-action="click->display#selectDeckCard" 
					data-display-cardno-param="<%= card_idx %>"
					data-cardno="<%= card_idx %>"
					data-rep="<%= card %>"
					class="card"
					>
						<img width="117" height="167" src="<%= card_path(card) %>" alt="<%= card_name(card)%>"/>
					</div>
		<% end %>
	</div>
	
	<div class="counter">
		Table cards: <span data-display-target="tcounter">0</span>
		Table spots: <span data-display-target="scounter">0</span>
		Deck cards: <span data-display-target="dcounter">0</span>
		<button data-action="display#clearAll">Clear all</button>
	</div>
	<br/>
	<div>
		<span> Detected command: <b><span data-display-target="detected">?</span></span>
	</div>
	<br/>
	<div>
		Commands: 
		<% command_list.each do |comm| %>
			<form action="/try-move" style="display: inline">
			<input name="cmdname" type="hidden" value="<%= comm %>"/>
			<input name="cmdargs" type="hidden" data-display-target="cmdargs" value=""/>
			<input type="submit" data-display-target="submit" value="<%= expand_command(comm) %>" />
			</form>
		<% end %><br />
			<form action="/execute" style="display: inline">
				<input type="submit"  value="EXECUTE!" />
			</form>
			<%= link_to "Other commands", other_commands_info_path, class: "infolink small-infolink" %>
		<br /><br />
		or: 
			<% if @cards_left %>
				<form action="/draw-card" style="display: inline">
				<input type="submit"  value="draw" />
				</form>
			<% else %>
				<form action="/skip" style="display: inline">
				<input type="submit"  value="skip" />
				</form> (note: no cards will be drawn since there are none left, but this can decrease your score at the end of game)
				
				<form action="/give-up" style="display: inline">
				<input type="submit"  value="GIVE UP!" style="display: block; color: red; margin: 10px 0" />
				</form>
			<% end %>
			
		
		<br/><br/>
		
		Current move prompt: 
		<form action="/edit-prompt" style="display: inline">
			<input name="prompt" type="text" placeholder="<empty>" value="<%= @cur_promt %>" />
			<input type="submit" value="Edit" />
		</form>
		<br/>
		<form action="/clear-try-move" style="display: inline">
			<input type="submit" value="Clear" />
		</form>
		
		<form action="/back-try-move" style="display: inline">
			<input type="submit" value="Back" />
		</form>
	</div>

	
	<br/>
	<div style="color: gray" ><%= flash[:helper] %></div>
	<br/> <br/> <br/>
	<div style="color: red"> <%= flash[:error].present? ? "Error: #{flash[:error]}" : "" %></div>
	<div style="color: purple"> <%= flash[:warning].present? ? "Warning: #{flash[:warning]}" : "" %></div>
	<div style="color: yelllow" data-display-target="requirementserror"></div>
	<div style="color: maroon" ><%= flash[:cheated] %></div>
	
	<% if @helper_out.present? %>
		<div>Helpful info: <%= @helper_out %></div>
	<% end %>
	
	<% if @who_cheated.present? %>
		<div>User cheated: <%= @who_cheated %></div>
	<% end %>

	<form action="/restart">
		<input type="hidden" name="restartall" value="no" />
		<input type="submit" value="Restart Game" />
	</form>
</div>

</footer>
<%= link_to 'About', about_path, class: "infolink" %>
<div id="copy"> Machiavelli &copy; A. M. Wójcik 2024-present</div>
</footer>
<% end %>
