<%= render 'top' %>

<div id="whole">
<%= turbo_frame_tag "turbomain" do %>
<div data-controller="display"
	data-display-cselected-class="card--selected"
	data-display-sselected-class="spot--selected"
	data-display-detected-class="detected"
	data-display-spin-class="fa-spin"
	data-display-reqerrcolor-class="color-level-2"
	id="display"
	data-display-decksize-value="<%= @deck.size %>"
	
	data-action="keydown.n->display#nCalled keydown.m->display#mCalled keydown.p->display#pCalled keydown.b->display#bCalled"
	tabindex="0"
>
	<div id="counter" class="counter--<%= @player_turn == :first_player ? "first-player" : "second-player" %>-turn">
		<b><%= @current_player %></b><span id="counter-longer">'s turn. Selected: 
		table cards: <span data-display-target="tcounter">0</span>,
		table spots: <span data-display-target="scounter">0</span>,
		deck cards: <span data-display-target="dcounter">0</span></span>
		~ (<span data-display-target="tcounter">0</span>, <span data-display-target="scounter">0</span>, <span data-display-target="dcounter">0</span>)
		<i data-action="click->display#clearAll mouseover->display#spin mouseout->display#nospin" data-display-target="spin" id="clear-all" title="Clear all" class="fa fa-refresh"></i>
	</div>

	<div id="player-names" class="to-right">
		<form action="/edit-names" class="clear-to-right">
			<input name="fplayer" type="text"  value="<%= @player1 %>" /> vs
			<input name="splayer" type="text"  value="<%= @player2 %>" />
			<input type="submit" value="Rename" />
		</form>
	</div>

	<h3 class="title-with-bar"><%= @current_player %></b>'s deck:</h3>
	<div id="deck">
		<div id="deck-box" data-display-target="deckbox"> <!-- for blocking y-scroll -->
		<% @deck.each_with_index do |card, card_idx| %>
				<div 
					data-display-target="dcard"
					data-action="click->display#selectDeckCard" 
					data-display-cardno-param="<%= card_idx %>"
					data-cardno="<%= card_idx %>"
					data-rep="<%= card %>"
					class="card"
					>
						<img class="card-img" src="<%= card_path(card) %>" alt="<%= card_name(card)%>"/>
					</div>
		<% end %>
		</div>
	</div>

	<h3 class="title-with-bar">Table (all combinations):</h3>
	<div  id="table">
		<% @table.each_with_index do |comb, comb_idx| %>
			<div class="comb">
				<% comb.each_with_index do |card, card_idx| %>
					<div 
					data-display-target="spot"
					data-action="click->display#selectSpot" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-spotno-param="<%= card_idx %>"
					data-combno="<%= comb_idx %>"
					data-spotno="<%= card_idx %>"
					class="spot"
					>
						&bull;
					</div>
				
					<div 
					data-display-target="tcard"
					data-action="click->display#selectTableCard" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-cardno-param="<%= card_idx %>"
					data-combno="<%= comb_idx %>"
					data-cardno="<%= card_idx %>"
					data-rep="<%= card %>"
					class="card"
					>
						<img class="card-img" src="<%= card_path(card) %>" alt="<%= card_name(card)%>"/>
					</div>
				<% end %>		

				<!-- we add one after all cards -->
				<span 
					data-display-target="spot"
					data-action="click->display#selectSpot" 
					data-display-combno-param="<%= comb_idx %>"
					data-display-spotno-param="<%= comb.size %>"
					data-combno="<%= comb_idx %>"
					data-spotno="<%= comb.size %>"
					class="spot"
					>
						&bull;
				</span>
				
			</div>
		<% end %>

		<span class="explanation-info">
			<%= @table.empty? ? "No combinations yet. Use command 'n/new_combination' to add combiantions. If no cards can form valid combiantion use 'draw'." : "" %>
		</span>
	</div>
	<div></div>



	<div id="controlpanel" data-controller="controlpanel" data-controlpanel-hidden-class="hidden">
		<div id="tabs">
			<a href="#" class="navigation-significant-link" data-action="click->controlpanel#switchTab:prevent" data-controlpanel-target="commandsTabbtn" data-controlpanel-name-param="commands">Commands</a>
			<a href="#" class="navigation-significant-link"  data-action="click->controlpanel#switchTab:prevent" data-controlpanel-target="promptTabbtn" data-controlpanel-name-param="prompt">Prompt</a>
			<a href="#" class="navigation-significant-link"  data-action="click->controlpanel#switchTab:prevent" data-controlpanel-target="infoerrorsTabbtn" data-controlpanel-name-param="infoerrors">
				<span data-display-target="tocoloronreqnotmet" class="color-level-<%= @infoerror_highest %>">Info/Errors</span>
			</a>
		</div>
		<div id="cp-commands" data-controlpanel-target="commands">
			Commands: 
			<% command_list.each do |comm| %>
				<form action="/try-move" style="display: inline">
				<input name="cmdname" type="hidden" value="<%= comm %>"/>
				<input name="cmdargs" type="hidden" data-display-target="cmdargs" value=""/>
				<input type="submit" class="expanded-command-btn" data-display-target="submit" data-action="click->display#checkCmdRequiremnentsMet" data-cmd="<%= comm %>" value="<%= expand_command(comm) %>" />
				<input type="submit" class="minimalistic-command-btn" data-display-target="submit" data-cmd="<%= comm %>" data-action="click->display#checkCmdRequiremnentsMet" value="<%= comm %>" />
				</form>
			<% end %> <%= link_to "Other commands", other_commands_info_path, class: "infolink small-infolink" %><br /> <br />
				Ready? <form action="/execute" style="display: inline">
					<input type="submit"  value="EXECUTE!" />
				</form>
				or: 
				<% if @cards_left %>
					<form action="/draw-card" style="display: inline">
					<input type="submit"  value="draw" />
					</form>
				<% else %>
					<form action="/skip" style="display: inline">
					<input type="submit"  value="skip" />
					</form> 
					<span id="cp-draw-note">(note: no cards will be drawn since there are none left, but this can decrease your score at the end of game)</span>
					
					<form action="/give-up" style="display: inline">
					<input type="submit"  value="GIVE UP!" style="display: block; color: red; margin: 10px 0" />
					</form>
				<% end %>
				
			
			<br/><br/>

			<div class="explanation-info">
				<span> Detected command: <b><span data-display-target="detected"></b></span></span>
			</div>
		</div>

		<div id="cp-prompt" data-controlpanel-target="prompt">
			Current move prompt: 
			<form action="/edit-prompt" style="display: inline">
				<input id="prompt-textbox" name="prompt" type="text" placeholder="<empty>" value="<%= @cur_promt %>" />
				<input type="submit" value="Update" />
			</form>
			<br/>
			<form action="/back-try-move" style="display: inline">
				<input type="submit" value="Delete last move" />
			</form>

			<form action="/clear-try-move" style="display: inline">
				<input type="submit" value="Clear ALL moves" />
			</form>
			
			<br /><br />
			<span class="explanation-info">Use prompt to edit/delete your already used commands.</span>
		</div>

		<div id="cp-infoerrors" data-controlpanel-target="infoerrors">
			<div style="color: gray" ><%= flash[:helper].present? ? "Helper command response: #{flash[:helper]}" : "" %></div>
			<br/> 
			<div class="color-level-4" data-controlpanel-target="fatalerror"><%= flash[:error].present? ? "Error: #{flash[:error]}" : "" %></div>
			<div class="color-level-2" data-display-target="requirementserror"></div>
			<div class="color-level-3"> <%= flash[:warning].present? ? "Warning: #{flash[:warning]}" : "" %></div>
			<div class="color-level-1" ><%= session[:who_cheated].present? ? "User cheated: #{@cheater}" : "" %></div>
		</div>


		
		<div id="swiftscroll" data-controller="swiftscroll" data-swiftscroll-abovecontentid-value="above-content" data-swiftscroll-hidden-class="hidden">
			<div data-swiftscroll-target="scrollballs">
				<div class="scroll-ball" data-action="click->swiftscroll#goTop"><i class="fa fa-solid fa-chevron-up"></i></div>
				<div class="scroll-ball" data-action="click->swiftscroll#goBot"><i class="fa fa-solid fa-chevron-down"></i></div>
			</div>
		</div>

	</div>
</div>

</footer>
<div id="copy"> Machiavelli &copy; A. M. Wójcik 2024-present</div>
</footer>
<% end %>
</div>