<%= turbo_frame_tag "turbomain" do %>
<% if @give_up %>
	Player <i><%= named_player(@player, @player_names)  %></i> gave up!<br/>
	<br/>
	Skips: <br/><br/>
		<% @player_skips.each_pair do |p, num| %>
        <i><%= p %>:</i> <%= num %><br/>
		<% end %>
<% else %>
	Player <%= named_player(@winner, @player_names) %> won the game!
<% end %>

<form action="/restart" data-turbo="false">
  <input type="submit"  value="Play again" />
</form>
<% end %>